COMPOSE_PROJECT_NAME=fnbstore-staging
APP_DOMAIN=staging.fnbstore.store
LETSENCRYPT_EMAIL=ops@fnbstore.store
NEXT_PUBLIC_API_BASE_URL=/api/v1
BACKEND_ENV_FILE=backend/.env.staging
FRONTEND_ENV_FILE=frontend/.env.staging
